/* index */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #FFE8D6;
  color: #2E2A27;
}

.primary-btn {
  display: inline-block;
  margin-top: 1.2rem;
  padding: 0.8rem 1.6rem;
  background: #C65D3B;
  color: white;
  border-radius: 8px;
  transition: background 0.2s ease, transform 0.2s ease;
}

.primary-btn:hover {
  background: #B14F32;
  transform: translateY(-2px);
}


a {
  text-decoration: none;
  color: inherit;
}

